<!DOCTYPE html>
<html>
<head>
  <title>PlayWithGit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>A dummy title</h1>
<%= yield %>
<h2>A stupid footer</h2>
</body>
</html>
